<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Teamwork</title>
    <link rel="icon" type="image/png" sizes="192x192" href="../ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../ico/favicon-16x16.png">
    <link rel="manifest" href="../ico/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/articles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html">
                <p>teamwork</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <a>
                    <i class="material-icons" color="red">
                        account_box
                    </i>
                </a>
                <li><a href="../index.html">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="article-box">
            <div class="article">
                <div class="article-profile-details">
                    <a class="profile-pic">
                        <i class="material-icons">
                            account_circle
                        </i>
                    </a>
                    <div class="date-name">
                        <p>John Doe</p>
                        <p>01 Jan 2020</p>
                    </div>
                    <div class="article-info">
                        <a>
                            <i class="material-icons">
                                info
                            </i>
                        </a>
                    </div>
                </div>
                <hr>
                <br>
                <div class="article-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis est nostrum explicabo ex tenetur
                        ad,
                        eaque quo, asperiores dolorum eum atque architecto iste, molestiae velit sequi. Optio soluta
                        cumque
                        tenetur!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla tenetur et reprehenderit ea,
                        pariatur
                        fugiat libero temporibus quidem dolores vero fugit quod at? Tempora distinctio provident
                        temporibus
                        quibusdam autem. Rerum!
                    </p>
                </div>
                <hr>
                <br>
                <div class="article-reactions">
                    <ul>
                        <a>
                            <i class="material-icons">
                                thumb_up
                            </i>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </main>

    <div class="sticky">

    </div>
    <footer>
        <div class="copyright">
            <p>
                &copy; 2019 teamwork
            </p>
            <p>all rights reserved</p>
        </div>
    </footer>
</body>

</html>
