body{
    background-color: #f6f7f8;
}
header{
    background-color: #260957;
}
.signup {
    padding: 5px;
}

.firstname,
.secondname,
.email,
.password1,
.password2,
.regbutton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}

.welcomereg,
.signin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


form input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 0 20px;
    height: 50px;
    width: 50%;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-bottom-width: 3px;
    border-radius: 5px;
    outline: 0;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

form input[type="submit"] {
    padding: 0 20px;
    text-align: center;
    line-height: 30px;
    background-color: #f13a59;
    color: #f2f2f2;
    cursor: pointer;
    border: 1px solid #f13a59;
    border-radius: 5px;
    outline: 0;
    height: 30px;
    font-size: 14pt;
}

input[type="submit"]:active {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
}

